<h1>URL SHORTENER</h1>

<p>URL to be shortened</p>
<form class="" action="/links" method="post">
    <textarea name="url" rows="8" cols="80"></textarea>
    <input type="submit" value="SHRINK!">
</form>
